* {
    box-sizing: border-box;
}

.logo {
    height: 100px;
    width: 250px;
    padding-top: 60px;
    margin: 0 auto;
}

.logo>img {
    width: 100%;
}

.header {
    background: #eee;
    height: 210px;
}

.free_call {
    padding-top: 30px;
}

.free_call>p>span {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    line-height: 10px;
}

.search_bar {
    margin: 30px auto;
    width: 100%;
    height: 50px;
    background: #fff;
    border: #b7b7b7 solid 0px;
    position: relative;
    max-width: 420px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    border-radius: 5px;
}

.search_bar_shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.account {
    padding-top: 35px;
}

.acc {
    float: left;
}

.account > p {
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.myacc {
    float: left;
}

a {
    text-decoration: none;
    color: inherit;
}

.search_bar input[type=text] {
    font-family: "proxima-nova", sans-serif;
    border: none;
    box-shadow: none;
    font-size: 14px;
    width: 80%;
    padding: 15px;
    margin: 0;
    overflow: hidden;
}

.search_bar input[type=text]:focus {
    outline: none;
}

.search_bar button[type=submit] {
    background: #00B3FF;
    color: rgba(255, 255, 255, 0);
    border: 0px solid #00B3FF;
    width: 10%;
    min-width: 56px;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0 5px 5px 0;
}

.search_bar button[type=submit]:after {
    content: '';
    position: absolute;
    top: 18%;
    right: 0;
    bottom: 22%;
    left: 4%;
    background: url("http://media.lib.byu.edu/assets/images/searchbar/1.0/search-icon.svg") no-repeat center center;
    background-size: contain;
}

.search_bar button[type=submit]:hover,
.search_bar button[type=submit]:focus {
    background: -webkit-linear-gradient(#3388dd, #2174c7);
    background: linear-gradient(#3388dd, #2174c7);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    cursor: pointer;
}

.search_bar .search_dropdown {
    min-width: 17px;
    background: #ddd;
    border-right: 0px solid #ddd;
    color: #555;
    padding: 0 28px 0 13px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    border-radius: 5px 0 0 5px;
    ;
}

.search_bar .search_dropdown:after {
    content: "\2193";
    color: rgba(85, 85, 85, 0);
    background: url("http://media.lib.byu.edu/assets/images/searchbar/1.0/down-arrow.svg") no-repeat top left;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -6px;
}

.search_bar .search_dropdown:hover,
.search_bar .search_dropdown.active {
    background: -webkit-linear-gradient(#e7e7e7, #d5d5d5);
    background: linear-gradient(#e7e7e7, #d5d5d5);
    cursor: pointer;
    border-right-color: #ccc;
}

.search_bar .search_dropdown > span {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    white-space: nowrap;
    font-size: 12px;
}

.search_bar .search_dropdown ul {
    display: none;
    position: absolute;
    top: 105%;
    left: -1px;
    font-size: 12px;
    width: 250px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 7px 0;
}

.search_bar .search_dropdown li {
    font-family: "proxima-nova", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 5px 18px;
    color: #333;
    line-height: 1.2em;
    position: relative;
}

.search_bar .search_dropdown li:hover {
    background: #e7e7e7;
}

.search_bar .search_dropdown li.selected {
    background: #00B3FF;
    color: #fff;
}

.search_bar.large {
    max-width: 750px;
}

.search_bar.large input[type=text] {
    font-size: 14px;
}


/* NOTE Responsive header search */

.responsive_header {
    background: #eee;
    display: none;
}

.responsive_menu_header {
    margin-top: 10px;
    background: #333;
    height: 50px;
}

.responsive_menu_header i {
    padding: 10px;
    color: #fff;
    font-size: 150%;
}

.search_resonsive i {
    margin-left: 30%;
}

.phone_resonsive i {
    float: right;
}

@media screen and (max-width: 991px) {
    .header {
        display: none;
    }
    .responsive_header {
        display: block;
    }
}
