@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.otf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat-Regular;
}

.logo {
    height: 100px;
    padding-top: 50px;
    margin: 0 40%;
}

.call {
    padding-top: 30px;
}

.call > p > span {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    line-height: 10px;
}

form {
    margin: 30px auto 110px;
}

.search_bar {
    width: 90%;
    height: 50px;
    background: #fff;
    border: #b7b7b7 solid 1px;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    position: relative;
    max-width: 420px;
}

.account {
    padding-top: 35px;
}

.acc {
    float: left;
}

.account > p {
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.myacc {
    float: left;
}

a {
    text-decoration: none;
    color: inherit;
}

.search_bar input[type=text] {
    font-family: Montserrat-Regular;
    border: none;
    box-shadow: none;
    font-size: 10px;
    width: 80%;
    padding: 14px;
    margin: 0;
    overflow: hidden;
}

.search_bar input[type=text]:focus {
    outline: none;
}

.search_bar button[type=submit] {
    background: #00B3FF;
    color: rgba(255, 255, 255, 0);
    border: 1px solid #00B3FF;
    width: 10%;
    min-width: 56px;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 0 3px 3px 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search_bar button[type=submit]:after {
    content: '';
    position: absolute;
    top: 18%;
    right: 0;
    bottom: 22%;
    left: 4%;
    background: url("http://media.lib.byu.edu/assets/images/searchbar/1.0/search-icon.svg") no-repeat center center;
    background-size: contain;
}

.search_bar button[type=submit]:hover,
.search_bar button[type=submit]:focus {
    background: -webkit-linear-gradient(#3388dd, #2174c7);
    background: linear-gradient(#3388dd, #2174c7);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.search_bar .search_dropdown {
    min-width: 17px;
    background: -webkit-linear-gradient(#f4f4f4, #e2e2e2);
    background: linear-gradient(#f4f4f4, #e2e2e2);
    border-right: 1px solid #ddd;
    color: #555;
    padding: 0 28px 0 13px;
    border-radius: 2px 0 0 2px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
}

.search_bar .search_dropdown:after {
    content: "\2193";
    color: rgba(85, 85, 85, 0);
    background: url("http://media.lib.byu.edu/assets/images/searchbar/1.0/down-arrow.svg") no-repeat top left;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -6px;
}

.search_bar .search_dropdown:hover,
.search_bar .search_dropdown.active {
    background: -webkit-linear-gradient(#e7e7e7, #d5d5d5);
    background: linear-gradient(#e7e7e7, #d5d5d5);
    cursor: pointer;
    border-right-color: #ccc;
}

.search_bar .search_dropdown > span {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    white-space: nowrap;
    font-size: 12px;
}

.search_bar .search_dropdown ul {
    display: none;
    position: absolute;
    top: 105%;
    left: -1px;
    font-size: 12px;
    width: 250px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px 0;
}

.search_bar .search_dropdown li {
    list-style-type: none;
    margin: 0;
    padding: 5px 18px;
    color: #00B3FF;
    line-height: 1.2em;
    position: relative;
}

.search_bar .search_dropdown li:hover {
    background: #e7e7e7;
}

.search_bar .search_dropdown li.selected {
    background: #00B3FF;
    color: #fff;
}

.search_bar.large {
    max-width: 750px;
}

.search_bar.large input[type=text] {
    font-size: 14px;
}

