@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.otf');
}

body {
    font-family: Montserrat-Regular !important;
}

.site_content {
    margin-top: 0px;
}

a {
    text-decoration: none !important;
}


/* NOTE Navigacija i padajuci meni*/

.menu-main {
    background: #333;
}

.nav_bar {
    height: 50px;
}


/* NOTE Gornja margina padajuceg menija  */

nav {
    width: 100%;
    z-index: 99999 !important;
}

nav>ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav>ul>li {
    list-style: none;
    float: left;
    padding: 15px;
    padding-left: 10px;
}

nav>ul>li:hover {
    color: #333;
}

nav>ul>li>a {
    font-family: "proxima-nova", sans-serif;
    width: 100%;
    text-decoration: none !important;
    color: #eee;
}

#washdry:hover .washdry_items {
    display: block;
}

#washdry:hover {
    background: #eee;
}

#washdry:hover > a {
    color: #333;
}

.washdry_items {
    position: absolute;
    top: 50px;
    left: 0;
    /*
    margin-top: 14px;
 margin-left: -25px;
*/
    padding: 0;
    width: 1170px;
    height: 270px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    display: none;
    background: #eee;
    z-index: 99998;
}

.dropdown_col {
    float: left;
}

.dropdown_items {
    font-family: "proxima-nova", sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 0;
    display: block;
    overflow: none;
}

.dropdown_items>li {
    list-style: none;
    padding: 5px;
}

.dropdown_items>li>img {
    width: 30px;
}

.dropdown_items>li>a {
    text-decoration: none;
}

.dropdown_items>li>p>span {
    font-family: "proxima-nova", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.li_float {
    float: left;
}

#fridge:hover .fridge_items {
    display: block;
}

#fridge:hover {
    background: #eee
}

#fridge:hover > a {
    color: #333;
}

.fridge_items {
    position: absolute;
    top: 50px;
    left: 0;
    padding: 0;
    width: 1170px;
    height: 270px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    display: none;
    background: #eee;
    z-index: 99998;
}


/* NOTE CSS Responsive dropdown menu */

@media screen and (max-width: 1199px) {
    nav>ul>li {
        padding-left: 5px;
    }
    nav>ul>li>a {
        font-size: 13px;
    }
    .washdry_items {
        width: 970px;
        height: 270px;
    }
    .fridge_items {
        width: 970px;
        height: 270px;
    }
    .slide_menu {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .menu-main {
        display: none;
    }
    .slide_menu {
        display: block;
    }
}



/* NOTE CSS Responsive slide menu */

.slide_menu {
    position: absolute;
    width: 100%;
    z-index: 999999;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.slide_menu_trigger {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.slide_menu_item {
    position: relative;
    height: 50px;
    background: #eee;
    padding: 15px;
    border-top: 1px solid #aaa;
}

.slide_menu_item:hover {
    background: #00B3FF;
}

.slide_menu_icon {
    position: absolute;
    right: 20px;
    top: 15px;
}

.slide_menu_item>span {
    font-family: "proxima-nova", sans-serif;
}


/* NOTE Smart search*/

.smart_search {
    float: left;
    position: relative;
    width: 100%;
    height: 65px;
    background: #00B3FF;
    margin-top: 20px;
    text-align: left;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.smart_search:hover {
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.6);
}

.text-smart-filter {
    padding-top: 18px;
    padding-left: 30%;
}

.smart_search>.text-smart-filter>span {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 22px;
}

.smart_search_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 170%;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
}

.smart_search_icon_rotate {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.search_slider {
    position: absolute;
    height: 400px;
    width: 1170px;
    background: #eee;
    display: none;
    z-index: 50;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.6);
}

.search_slider_main {
    width: 100%;
    height: 100%;
    background: #333;
}

.search_slider_wm {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #eee;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(.42, 0, .58, 1);
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
    z-index: 3;
}

.smart_transform {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

a.smart_search_items {
    display: inline-block;
    float: left;
    position: relative;
    width: 12%;
    margin: 2% 0 0 2%;
    overflow: hidden;
}

.smart_search_items>img {
    display: block;
    width: 100%;
    height: 100%;
}

.smart_search_items::before {
    content: attr(data-title);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    padding: 50px 30px 30px 30px;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background: #eee;
    color: #333;
    z-index: 1;
}

.smart_search_items:hover::before {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}


/* TODO CSS Responsive smart search */

@media screen and (max-width: 1200px) {
    .text-smart-filter {
        padding-left: 23%;
    }
    .search_slider {
        height: 400px;
        width: 970px;
    }
    .smart_search_items::before {
        font-size: 12px;
        padding: 3%;
        padding-top: 40%;
    }
}

@media screen and (max-width: 991px) {
    .text-smart-filter {
        padding-left: 13%;
    }
    .search_slider {
        height: 400px;
        width: 750px;
    }
}

@media screen and (max-width: 757px) {
    .smart_search {
        display: none;
    }
}


/* TODO Uraditi responsive za Smart search */


/* NOTE CSS Baners slider */

.banner-wide {
    height: 400px;
    background: url(../img/banners/pozadina-banera.jpg) no-repeat;
}

.single-banner>a>img {
    width: 100%;
}

.banners_slider {
    padding: 0;
    margin-top: 20px;
}

.banner_left {
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
}

.banner_right {
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
}

.banner_no_shadow:hover .banner_left {
    opacity: 1 !important;
}

.banner_no_shadow:hover .banner_right {
    opacity: 1 !important;
}

.banner_no_shadow {
    background-image: none !important;
}


/* NOTE CSS Pocetak feature benefit area */

.color_gray {
    background: #bbb;
}

.content_margine {
    margin-top: 20px;
}

.benefit_area_text {
    height: 80px;
    background: #bbb;
    border-right: 2px dashed rgba(0, 0, 0, 0.2);
    color: #fff;
}

.benefit_area_text>h4 {
    padding: 10px 0 0 10px;
    color: #333;
}

.benefit_area {
    height: 80px;
    /*    background: #00b8ad;*/
    background: #bbb;
    text-align: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.benefit_area>img {
    float: left;
    padding-top: 20px;
}

.benefit_icon_size {
    width: 35px;
}

.benefit_icon_size2 {
    width: 60px;
}

.benefit_icon_size3 {
    width: 25px;
}

.benefit_area_link {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.benefit_area_link:hover .benefit_area {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.benefit_area_last_feature {
    border: none;
}

.ben-area-txt {
    float: left;
    padding: 20px 0 0 10px;
}

.ben-area-txt>h4 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    color: #333;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.ben-area-txt>p {
    color: #333;
    padding: 0;
    margin: 0;
    font-size: 12px;
}


/* NOTE CSS  benefit responsive  */

.benefit_responsive {
    display: none;
}

@media screen and (max-width: 1200px) {
    .benefit_responsive {
        display: block;
    }
    .benefit_main {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .text-smart-filter {
        padding-left: 13%;
    }
    .ben-area-txt>p {
        display: none;
    }
    .ben-area-txt>h4 {
        font-size: 90%;
    }
    .ben-area-txt {
        padding: 30px 0 0 10px;
    }
}

@media screen and (max-width: 757px) {
    .benefit_responsive {
        display: none;
    }
}


/* NOTE CSS Pocetak banner sekcijea */

.mar_pad_reset {
    padding: 0;
    margin: 0;
}

.big_banner_init {
    margin: 0;
    padding: 0;
    height: 220px;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    overflow: hidden;
}

.big_banner_init:hover {
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.7);
}

.big_banner_style {
    padding: 0;
    margin: 0;
}

.bestbuy_banner {
    display: block;
    height: 100%;
    background: #551f79;
}

.big_banner_init>.big_banner_style>h1 {
    margin: 0;
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    padding: 35px 0 0 20px;
    line-height: 0.9em;
}

.big_banner_init>.big_banner_style>p {
    font-family: "proxima-nova", sans-serif;
    width: 250px;
    color: #fff;
    padding: 10px 0 0 20px;
    font-size: 18px;
}

.bestbuy_img {
    position: absolute;
    width: 40%;
    right: 25%;
    top: 30px;
    opacity: 0.7;
}

.link_indicator {
    position: absolute;
    height: 20px;
    right: 40px;
    bottom: 20px;
    color: #fff;
}

.link_indicator>span {
    float: left;
    letter-spacing: 2px;
    width: auto;
}

.arrow_indicator,
.arrow_indicator:before {
    border: 0 solid #fff;
}

.arrow_indicator {
    margin-top: 24px;
    float: right;
    right: 0px;
    border-width: 2px 0 0 2px;
    width: 20px;
    height: 20px;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.arrow_indicator:before {
    display: block;
    content: " ";
    border-top-width: 2px;
    width: 30px;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top right;
    transform-origin: top left;
    -webkit-transform: rotate(45deg) translate(0, -1px);
    -ms-transform: rotate(45deg) translate(0, -1px);
    transform: rotate(45deg) translate(0, -1px);
}

.arrow_init {
    float: left;
    margin-left: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.big_banner_init:hover .arrow_init {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.sm_banner_1 {
    padding: 0 10px 0 0;
    margin: 0;
}

.sm_banner_2 {
    padding: 0 10px 0 10px;
    margin: 0;
}

.sm_banner_3 {
    padding: 0 10px 0 10px;
    margin: 0;
}

.sm_banner_4 {
    padding: 0 0 0 10px;
    margin: 0;
}

.sm_banner_init {
    margin: 0;
    padding: 0;
    height: 220px;
    cursor: pointer;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
}

.sm_banner_init:hover {
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.6);
}

.sm_banner_init:hover .arrow_init {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.help_support_banner {
    display: block;
    height: 100%;
    background: #8a9297;
}

.help_support_banner>h4 {
    margin: 0;
    padding: 20px 0 0 20px;
    color: #fff;
}

.help_support_banner>h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
    padding: 0 0 0 20px;
}

.help_banner_img {
    position: absolute;
    left: 10px;
    top: 85px;
    width: 205px;
}

.customer_care_banner {
    display: block;
    height: 100%;
    background: #00b8ad;
}

.customer_care_banner>h2 {
    font-family: "poxima-nova", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 20px 0 0 20px;
    color: #fff;
}

.customer_care_banner>p {
    font-family: "poxima-nova", sans-serif;
    width: 70%;
    margin: 0;
    padding: 5px 0 0 20px;
    color: #fff;
}

.loyalty_card_banner {
    display: block;
    height: 100%;
    background: #00B3FF;
}

.loyalty_card_banner>h3 {
    font-family: "poxima-nova", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 20px 0 0 20px;
    color: #fff;
}

.loyalty_card_banner>p {
    font-family: "poxima-nova", sans-serif;
    margin: 0;
    padding: 5px 10px 0 20px;
    color: #fff;
}

.loyalty_card_banner>img {
    position: absolute;
    width: 70px;
    left: 30px;
    bottom: 10px;
}

.gift_card_banner {
    display: block;
    height: 100%;
    background: #c30074;
}

.gift_card_banner>h3 {
    color: #fff;
    margin: 0;
    padding: 20px 0 0 20px;
    font-weight: 700;
}

.gift_card_banner>img {
    position: absolute;
    width: 60px;
    left: 30px;
    bottom: 15px;
}

.gift_card_banner>p {
    font-family: "proxima-nova", sans-serif;
    color: #fff;
    margin: 0;
    padding: 10px 10px 0 20px;
}

.newsletter_banner {
    margin: 0;
    padding: 0;
    height: 160px;
    background: #ffdd00;
}

.newsletter_banner>h3 {
    color: #333;
    margin: 0;
    padding: 20px 0 0 20px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
}

.newsletter_banner>p {
    color: #333;
    margin: 0;
    padding: 5px 0 0 20px;
    font-family: "proxima-nova", sans-serif;
    line-height: 16px;
}

.facebook_banner {
    margin: 0;
    padding: 0;
    background: #3b5998;
    height: 160px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.facebook_banner>h4 {
    font-family: "proxima-nova", sans-serif;
    margin: 0;
    padding: 20px 0 0 15px;
    color: #fff;
}

.fb-logo {
    margin-top: 5px;
    width: 150px;
    margin-left: 15px;
}

.like-icon {
    position: absolute;
    width: 65px;
    bottom: 20px;
    right: 30px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.fb-count {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    padding-left: 15px;
    color: #fff;
}

.facebook_banner>span {
    position: absolute;
    top: 123px;
    margin-left: 15px;
    font-size: 12px;
    color: #333;
}

.facebook_banner:hover {
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.6);
}

.facebook_banner:hover .like-icon {
    bottom: 25px;
}

.sm_link_indicator {
    bottom: 15px !important;
    right: 50px !important;
}


/* NOTE CSS Responsive baneri */

@media screen and (max-width: 1200px) {
    .gift_card_banner>img {
        width: 30px;
    }
    .loyalty_card_banner>img {
        width: 40px;
    }
}

@media screen and (max-width: 991px) {
    .bestbuy_img {
        position: absolute;
        width: 40%;
        right: 10%;
        top: 30px;
        opacity: 0.7;
    }
    .sm_banner_1 {
        padding: 0;
        margin: 0;
    }
    .sm_banner_2 {
        padding: 20px 0 0 0;
        margin: 0;
    }
    .sm_banner_3 {
        padding: 20px 0 0 0;
        margin: 0;
    }
    .sm_banner_4 {
        padding: 20px 0 0 0;
        margin: 0;
    }
    .gift_card_banner>img {
        width: 100px;
    }
    .loyalty_card_banner>img {
        width: 110px;
    }
    .sm_banner_5 {
        padding: 0 0 20px 0;
        margin: 0;
    }
    .like-icon {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 757px) {
    .bestbuy_img {
        display: none;
    }
    .big_banner_init>.big_banner_style>h1 {
        font-size: 40px;
    }
    .big_banner_init>.big_banner_style>p {
        font-size: 14px;
    }
    .link_indicator>span {
        display: none;
    }
}


/* NOTE Newsletter input form */

.input_news {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    margin-top: 10px;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.85em;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-family: "proxima-nova", sans-serif;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 10px;
    color: #696969;
    font-size: 11px;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    top: -2px;
    display: block;
    margin: 0;
    padding: 1.0em 0;
    width: 100%;
}

.icon_news {
    color: #ddd;
    font-size: 145%;
}

.input--newsletter {
    overflow: hidden;
    background: #fff;
}

.input__field--newsletter {
    width: 90%;
    left: -25px;
    margin-left: -10px;
    background: transparent;
    padding-left: 2.45em;
    color: #6a7989;
}

.input__label--newsletter {
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
    color: #D2D2D2;
}

.input__label-content--newsletter {
    display: inline-block;
    width: auto;
    -webkit-transform: translate3d(-1.75em, 0, 0);
    transform: translate3d(-1.75em, 0, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.icon--newsletter {
    display: inline-block;
    margin-top: 0.9em;
    -webkit-transform: translate3d(-2em, 0, 0);
    transform: translate3d(-2em, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.butNewsletter {
    position: absolute;
    right: 0px;
    margin: 0;
    padding: 5px 10px;
    height: 100%;
    border: none;
}

.input__field--newsletter:focus + .input__label--newsletter .input__label-content--newsletter,
.input--filled .input__label-content--newsletter {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.input__label-content--newsletter,
.icon--newsletter,
.input__field--newsletter:focus + .input__label--newsletter .input__label-content--newsletter,
.input--filled .input__label-content--newsletter {
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--newsletter:focus + .input__label--newsletter .icon--newsletter,
.input--filled .icon--newsletter {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* NOTE CSS Brend sekcija */

.brand_section {
    height: 200px;
    background: #eee;
    text-align: center;
}

.brand_section>h4 {
    padding-top: 10px;
}

.brand_section_slider {
    height: 100px;
    background: none !important;
    box-shadow: none;
}

.brand_img {
    height: 100%;
    padding: 30px;
}


/* NOTE CSS Sign in sekcija */

.signin_section {
    text-align: center;
}

.signinBtn {
    color: #fff !important;
    display: block;
    text-align: center;
    padding: 15px;
    width: 150px;
    height: 50px;
    background: #00B3FF;
    margin: 0 auto;
    margin-top: 50px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.signinBtn:hover {
    color: #00B3FF !important;
    background: #fff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.signin_section>p {
    padding-top: 5px;
    font-size: 12px;
}

.login_link {
    padding-top: 5px;
    font-size: 12px;
    text-decoration: underline;
    color: #00B3FF;
}

.footer {
    margin: 0;
    padding: 0;
    height: 200px;
    background: #333;
}

.footer_content {
    text-align: center;
    color: #888;
    font-size: 12px;
    padding-top: 50px;
    width: 700px;
    margin: 0 auto;
}

.footer_content>ul>li {
    list-style: none;
    float: left;
    padding-left: 5px;
}

.footer_content>p {
    padding-top: 20px;
    font-size: 10px;
}
