@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.otf');
}

body {
    font-family: Montserrat-Regular;
    margin: auto;
    width: 60%;
}


/*
START
PART WITH SPECIAL OFFERS
*/

.specials {
    width: 100%;
    background-color: #00b9ad;
    height: 80px;
}

.gur {
    width: 31%;
    float: left;
    height: 50px;
    margin: 1%;
    border-right: 2px dotted white;
}

.gur>img {
    height: 100%;
    float: left;
    margin: 0 5px;
}

.gur>h1 {
    margin-top: 15px;
    color: #fff;
    font-size: 1.2vh
}


/*
END
PART WITH SPECIAL OFFERS
*/


/*
START
MAIN PRODUCT PART
*/

.product {
    width: 100%;
    height: 700px;
}

.porTumb {
    width: 10%;
    height: 400px;
    margin-top: 10%;
    float: left;
    overflow: hidden;
}

/*
NOTES: BXSLIDER JE OBRISAO SVE OVO
.porTumb>img {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
    cursor: pointer;
}
*/

.mainImg {
    width: 50%;
    height: 650px;
    margin-top: 20px;
    float: left;
}

.mainImg>img {
    width: 100%;
    max-height: 650px;
}

.zoomtracker {
    cursor: move !important;
}

.mainImg>video {
    width: 100%;
    margin-top: 30%;
    max-height: 650px;
}


/* START SLIDER STYLE */

ul.bxslider {
    margin-left: -45% !important;
}

.porTumb>.bx-wrapper>.bx-viewport {
    height: 400px !important;
}

.imgTumb, .videoTumb{
    cursor: pointer;
}

.porTumb>.bx-wrapper>.bx-viewport {
    height: 400px !important;
}

.porTumb>.bx-wrapper>.bx-controls>.bx-controls-direction>.bx-prev {
    top: 4%;
    left: 30%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.porTumb>.bx-wrapper>.bx-controls>.bx-controls-direction>.bx-next {
    top: 95%;
    left: 30%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bx-pager {
    display: none;
}


/* START SLIDER STYLE */

.share {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.share>button {
    width: 30%;
    margin: auto;
    background: transparent;
    border: 0;
    width: 40%;
}

.compare {
    float: left;
}

.share {
    float: right;
}

.specPrac {
    width: 35%;
    height: 650px;
    margin-top: 20px;
    float: left;
}

.price {
    margin-left: -5%;
}

.prodInfo {
    font-family: Montserrat-Light;
}

.new {
    font-family: Montserrat-Bold;
    font-size: 55px;
    color: rgb(236, 22, 75);
}

.old {
    padding: 2px;
}

.save {
    padding: 2px;
    color: rgb(236, 22, 75);
    font-size: 20px;
    align-content: center;
}

.brand {
    width: 30%;
    margin-left: 5%;
}

.name {
    font-family: Montserrat-Bold;
    margin-left: 5%;
}

.stock {
    font-family: Montserrat-Bold;
    width: 40%;
    height: 50px;
    background: #fff;
    box-shadow: inset 0px 0px 0px 5px rgb(41, 172, 228);
    text-align: center;
    color: rgb(41, 172, 228);
    padding-top: 15px;
    float: left;
}

.addBasekt {
    width: 50%;
    height: 50px;
    background: #fff;
    box-shadow: inset 0px 0px 0px 5px rgb(41, 172, 228);
    text-align: center;
    color: rgb(41, 172, 228);
    float: left;
    border: 0;
    margin-left: 5%;
}


/*
END
MAIN PRODUCT PART
*/


/*
START
PRODUCT SPECIFICATION
*/

.prInfTab {
    font-family: Montserrat-Bold;
    display: block;
    width: 19%;
    height: 80px;
    float: left;
    margin-right: 1%;
    text-align: center;
    padding-top: 30px;
    background-color: rgb(232, 232, 232);
}

.prInfTab:hover {
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}

.selected {
    background-color: rgb(217, 217, 217);
}

.productTabs {
    margin-left: 5%;
    position: relative;
    top: -5px;
    width: 60%;
}

.laLine {
    display: block;
    width: 110%;
    margin-left: -5%;
    position: relative;
    top: 80px;
    border-top: 5px solid rgb(217, 217, 217);
}

.productTabs>tr {
    border-bottom: 1px solid black;
}

.specTd {
    background: rgb(232, 232, 232);
}

.head {
    font-family: Montserrat-Bold;
    background: #fff;
    text-align: left;
    font-size: 1.5vh;
}


/*
END
PRODUCT SPECIFICATION
*/


/*
START
SUGGESTION
*/

.suggesView {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.also {
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-left: 5%;
    background: rgb(232, 232, 232);
    color:
}

.sugest {
    widows: 70%;
    height: 300px;
    overflow: hidden;
}

.sugest>img {
    width: 15%;
    margin: 0 5%;
    float: left;
}


/*
END
SUGGESTION
*/
